
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Teacher-personalinfo</title>

    <link href="../../static/bootstrapdist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/bootstrapdist/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../../static/css/teacherinfo.css" rel="stylesheet">
    <link href="../../static/bootstraptable/bootstrap-table.css" rel="stylesheet">
    <link href="../../static/bootstraptable/bootstrap-table.min.css" rel="stylesheet">

    <link href="../../static/bootstrapvalidator-master/css/bootstrapValidator.css" rel="stylesheet">
    <link href="../../static/bootstrapvalidator-master/css/bootstrapValidator.min.css" rel="stylesheet">

    <link href="../../static/bootstrapeditable/css/bootstrap-editable.css" rel="stylesheet">


    
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">OnlineExamination</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#login" id="usertag">{{ name }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                </div>
            </div>
    </nav>

    


   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <div class="picurl">
                <a href="/teacher_main">
                    <img src="../../static/resources/admin-circle.png" alt="pic" class="img-circle">
                </a>
            </div>
            
            
            <li><a href="/tgradetable" >Grade Table</a></li>
            <li><a href="/judgepaper">Judge Paper</a></li>            

          </ul>
          <ul class="nav nav-sidebar">
            
            <li class="active"><a href="/teacherinfo">Personal Info<span class="sr-only" id="studenttabletag">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/teacher_main">Return</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <div class="row clearfix">
                    <div class="col-md-2 column">
                    
                    </div>
                    <div class="col-md-4 column">
                        <p style="font-size:50px;">title</p>
                    </div>
                    <div class="col-md-2 column">
                         <a href="#" id="username" style="font-size:50px;">superuser</a>
                    </div>
                    <div class="col-md-2 column">
                    
                    </div>        
              
              
            

              </div>
              
              
              








              <!-- <div class="form-group">
                        <label class="col-lg-3 control-label">Textbox</label>
                        <div class="col-lg-5">
                             <input class="form-control" type="text" name="textbox[]" placeholder="Textbox #1" /> 
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-default btn-sm addButton" data-template="textbox" id="addButton">Add</button>
                        </div>
              </div>
              <div class="form-group hide" id="textboxTemplate">
                        <div class="col-lg-offset-3 col-lg-5">
                             <input class="form-control" type="text" /> 
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="btn btn-default btn-sm removeButton">Remove</button>
                        </div>
              </div> -->
          
          </div>
        </div>
      </div>
    </div>



    <div id="footer" class="container_footer">
      <nav class="navbar navbar-default navbar-fixed-bottom">
          <div class="navbar-inner navbar-content-center">
              <p class="text-muted credit" style="padding: 10px;text-align:center;">
                  this is our footer
              </p>
          </div>
      </nav>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/bootstrapdist/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../static/bootstrapdist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/bootstrapdist/assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="../../static/bootstrapdist/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/info.js"></script>
    <script src="../../static/bootstraptable/bootstrap-table.js"></script>
    <script src="../../static/bootstraptable/bootstrap-table.min.js"></script>
    <script src="../../static/bootstraptable/bootstrap-table-en-US.js"></script>
    <script src="../../static/bootstraptable/bootstrap-table-zh-CN.js"></script>

    <script type="text/javascript" src="../../static/bootstrapvalidator-master/js/bootstrapValidator.js"></script>
    <script type="text/javascript" src="../../static/bootstrapvalidator-master/js/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrapvalidator-master/js/en_US.js"></script>
    <script type="text/javascript" src="../../static/bootstrapvalidator-master/js/zh_CN.min.js"></script>

    <script type="text/javascript" src="../../static/bootstrapeditable/js/bootstrap-editable.js"></script>
    <script type="text/javascript" src="../../static/bootstrapeditable/js/bootstrap-editable.min.js"></script>

  </body>
</html>
